<!DOCTYPE html>
<html>
<head>
    <title>Python Sınavı - Ana Sayfa</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }
        main {
            flex: 1;
        }
        footer {
            background-color: #f1f1f1;
            text-align: center;
            padding: 10px;
            width: 100%;
        }
    </style>
</head>
<body>
    <main>
        <h1>Python Sınavına Hoş Geldiniz</h1>
        <form action="/" method="post">
            <label for="username">Adınızı Girin:</label>
            <input type="text" id="username" name="username" required>
            <input type="submit" value="Başla">
        </form>
    </main>
    
    <footer>
        <p>ilyas türkmen</p>
    </footer>
</body>
</html>
